<div class="container">
  <div class="row">

      <h1 class="my-4 text-center text-lg-left">Projects</h1>

      <div class="row text-center text-lg-left">

        <div class="col-lg-4 col-md-5 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            <h2>Project1</h2>
          </a>
        </div>
        <div class="col-lg-4 col-md-5 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            <h2>Project2</h2>
          </a>
        </div>
        <div class="col-lg-4 col-md-5 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            <h2>Project3</h2>
          </a>
        </div>
        </div>
      </div>

